---
  name: build-lib-sdjwt-swift
  on:
    pull_request:
      types: [opened, reopened]
    push:
  
  jobs:
    build:
      runs-on: "macos-14"
      steps:
        - uses: maxim-lobanov/setup-xcode@v1
          with:
            xcode-version: '16.1.0'
        - uses: actions/checkout@v4
        - run:
            fastlane tests
    build_android:
      runs-on: macos-13
      steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Run unit tests
        uses: skiptools/swift-android-action@main
        with:
          swift-version: 6.0
          ndk-version: 27.3.13750724